[submodule "homedir_root/.vim/bundle/vim-colors-solarized"]
	path = homedir_root/.vim/bundle/vim-colors-solarized
	url = git://github.com/altercation/vim-colors-solarized.git
[submodule "homedir_root/.vim/bundle/vim-fugitive"]
	path = homedir_root/.vim/bundle/vim-fugitive
	url = git://github.com/tpope/vim-fugitive.git
[submodule "homedir_root/.vim/bundle/vim-markdown"]
	path = homedir_root/.vim/bundle/vim-markdown
	url = git://github.com/tpope/vim-markdown.git
[submodule "homedir_root/.vim/bundle/vim-simplefold"]
	path = homedir_root/.vim/bundle/vim-simplefold
	url = git://github.com/vim-scripts/simplefold.git
[submodule "homedir_root/.vim/bundle/vim-surround"]
	path = homedir_root/.vim/bundle/vim-surround
	url = git://github.com/tpope/vim-surround.git
